# virtualenv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution
dist/
*.egg-info/
build/

# Sphinx documentation
docs/_build/

.idea/
.vscode/
test.py
test_pa.py
